@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

html {
  background: linear-gradient(-45deg, #ff1c1c, #ff5656);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#difficulty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

a, .difficulty, .level {
  text-decoration: none;
  padding: 5px 0;
  margin: 2rem auto;
  width: 300px;
  text-align: center;
  background: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #111;
}
a-easy, .difficulty-easy, .level-easy {
  color: #00ff15;
}
a-normal, .difficulty-normal, .level-normal {
  color: black;
}
a-hard, .difficulty-hard, .level-hard {
  color: #ff0000;
}

.select {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.select span {
  margin-right: 0.5rem;
}

.memory-card {
  width: 90px;
  height: 90px;
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memory-card.flip.wrong {
  background: #ff0000;
}

.memory-card.flip.correct {
  background: #00ff15;
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.4s;
}

.memory-card.flip {
  transform: rotateY(180deg);
  background-color: #00ccff;
}

.front-face,
.back-face {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
  font-size: 3rem;
}

.back-face {
  background: linear-gradient(135deg, #eceddc 25%, transparent 25%), linear-gradient(225deg, #eceddc 25%, transparent 25%), linear-gradient(315deg, #eceddc 25%, transparent 25%), linear-gradient(45deg, #eceddc 25%, transparent 25%);
  background-size: 30px 30px;
}

.front-face {
  transform: perspective(1000px) rotateY(180deg);
}

.resetbtn {
  background: #057eff;
  border-radius: 5px;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.move-reset {
  display: flex;
  justify-content: space-between;
}

#level h2 {
  font-size: 2rem;
  margin-top: 1rem;
}
#level h2 span {
  padding: 0.2rem 1rem;
  border-radius: 5px;
  background: #fff;
}

#congrats {
  height: 100vh;
  color: #fff;
}
#congrats p {
  font-size: 1.2rem;
}

#congrats .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
}

#congrats .check {
  color: white;
  font-size: 60px;
  background: #00b901;
  padding: 0.2rem 1rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0px 4px 5px 0px rgba(0, 0, 0, 0.5);
}

.play-again {
  background: #fff;
  color: #111;
  padding: 0.8rem 1.5rem;
  font-weight: 600;
  font-size: 1.2rem;
}

#congrats h1 {
  margin-bottom: 1rem;
}
#congrats h2 {
  margin-bottom: 0.5rem;
}
#congrats p {
  margin-bottom: 2rem;
}
#congrats .logo {
  margin: 4rem;
}
